@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rs-primary-50: #f2feff;
    --rs-primary-100: #daf1f5;
    --rs-primary-200: #c0e4eb;
    --rs-primary-300: #aad9e3;
    --rs-primary-400: #93ccd9;
    --rs-primary-500: #7ebecf;
    --rs-primary-600: #5bb0c7;
    --rs-primary-700: #399ab8;
    --rs-primary-800: #1a7fa1;
    --rs-primary-900: #016082;


}

body {
    background-color: white;
}

.header {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
}